
<form id="splitPage" action="${cxt!}/workshop/buy" method="POST" class="form-horizontal">

	<!-- BEGIN PAGE CONTAINER-->
	<div class="container-fluid">

		<!-- BEGIN PAGE HEADER-->
		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->
				<ul class="breadcrumb">
					<li>
						<a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">${i18nMap["admin.common.mainPage"]}</a>
						<span class="divider">/</span>
					</li>
					<li><a href="#">代购</a> <span class="divider">/</span></li>
					<li class="active">购买记录</li>
				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>
		<!-- END PAGE HEADER-->

		<div class="row-fluid">
			<div class="span12">
				<div class="widget yellow">
					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> 购买记录查询
						</h4>
						<span class="tools"> 
							<a class="icon-chevron-down" href="javascript:;"></a>
						</span>
					</div>
					<div class="widget-body form switch-form">
						<input class="medium" type="text" name="_query.description" value='${escapeXml(splitPage.queryParam["description"])}' maxlength="50">
						<input class="medium" type="text" name="_query.startdate_start" value='${escapeXml(splitPage.queryParam["startdate_start"])}' 
		                	id="startDate" onClick="WdatePicker({dateFmt: 'yyyy-MM-dd', minDate:'2016-07-01', maxDate:'#F{$dp.$D(\'endDate\')}'})" style="width: 135px" readonly>
						至
		                <input class="medium" type="text" name="_query.startdate_end" value='${escapeXml(splitPage.queryParam["startdate_end"])}' 
		                	id="endDate" onClick="WdatePicker({dateFmt: 'yyyy-MM-dd', minDate:'#F{$dp.$D(\'startDate\')}', maxDate:'%y-%M-%d'})" style="width: 135px" readonly>
						<button type="button" class="btn btn-danger" onclick='common_ajax.ajaxFormMainPanel("splitPage");'>${i18nMap["admin.common.select"]}</button>
						<button type="button" class="btn btn-danger" onclick='exportFile()'>导出</button>
						
						<% if(splitPage.queryParam["isBuy"] != "0"){ %>
						<input type="checkbox" name="_query.isBuy" id="check3" value="0" class="checkbox-checkable"  > 导出Excel
						<% }else{ %>
						<input type="checkbox" name="_query.isBuy" id="check3" value="0" checked="checked" class="checkbox-checkable"  > 导出Excel
						<% } %>
						
						<% if(splitPage.queryParam["isSend"] != "0"){ %>
						<input type="checkbox" name="_query.isSend" id="check3" value="0" class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 未邮寄
						<% }else{ %>
						<input type="checkbox" name="_query.isSend" id="check3" value="0" checked="checked" class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 未邮寄
						<% } %>
						
						<% if(splitPage.queryParam["isPay"] == "0"){ %>
						<input type="radio" name="_query.isPay" id="check3" value="0" checked="checked" class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 熊坚强
						<% }else{ %>
						<input type="radio" name="_query.isPay" id="check3" value="0"  class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 熊坚强
						<% } %>
						
						<% if(splitPage.queryParam["isPay"] == "1"){ %>
						<input type="radio" name="_query.isPay" id="check3" value="1" checked="checked" class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> Amy
						<% }else{ %>
						<input type="radio" name="_query.isPay" id="check3" value="1"  class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> Amy
						<% } %>
						
						<% if(splitPage.queryParam["isPay"] == "2"){ %>
						<input type="radio" name="_query.isPay" id="check3" value="2" checked="checked" class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 乃坤
						<% }else{ %>
						<input type="radio" name="_query.isPay" id="check3" value="2"  class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 乃坤
						<% } %>
						
						<% if(splitPage.queryParam["isPay"] == "3"){ %>
						<input type="radio" name="_query.isPay" id="check3" value="3" checked="checked" class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> Air
						<% }else{ %>
						<input type="radio" name="_query.isPay" id="check3" value="3"  class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 甜点
						<% } %>
						
						<% if(splitPage.queryParam["isPay"] == "4"){ %>
						<input type="radio" name="_query.isPay" id="check3" value="4" checked="checked" class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 艳子
						<% }else{ %>
						<input type="radio" name="_query.isPay" id="check3" value="4"  class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 艳子
						<% } %>
						
						% if(splitPage.queryParam["isPay"] == "5"){ %>
						<input type="radio" name="_query.isPay" id="check3" value="5" checked="checked" class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 飞儿
						<% }else{ %>
						<input type="radio" name="_query.isPay" id="check3" value="5"  class="checkbox-checkable"  onclick="common_ajax.ajaxFormMainPanel('splitPage');"> 飞儿
						<% } %>
						
					</div>
				</div>
			</div>
		</div>

		<!-- BEGIN ADVANCED TABLE widget-->
		<div class="row-fluid">
			<div class="span12">

				<!-- BEGIN EXAMPLE TABLE widget-->
				<div class="widget red">


					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> ${i18nMap["admin.role.list.table"]}
						</h4>
					</div>

					<div class="widget-body">
						<span class="tools"> 
							<button type="button" class="btn btn-small btn-danger" buy-id="${buy.ids!}" data-method="notice" onclick="common_ajax.ajaxMainPanel('/workshop/buy/toUrl?toUrl=/workshop/buy/add.html');">
												<i class="icon-plus icon-white"></i>
								添加购买记录
							</button> 
							
							
							<button type="button" class="btn btn-small btn-success" category="isSend" data-table="dataTable" data-url="/workshop/buy/updateMultiToAll?csrfToken=${csrfToken!}" onclick="updateList(this)">
								<i class="icon-tag icon-white"></i>
								邮寄
							</button> 
							
							
							<button type="button" class="btn btn-small btn-danger"  >
												<i class="icon-plus icon-white"></i>
								${sum!}
							</button> 
							
						</span>
						
                       	<div class="space15"></div>
                       
						<table class="table table-striped table-bordered" id="dataTable">
							<thead>
								<tr>
									<th style="width: 8px;">
										<input type="checkbox" class="group-checkable" name="checkAll" onchange="common_common.checkFunc('dataTable', this.checked);" class="flat-grey selectall">
									</th>
									<th class="hidden-phone" style="width:30px">姓名</th>
									<th class="hidden-phone" style="width:30px">微信</th>
									<th class="hidden-phone" style="width:150px">描述</th>
									<th class="hidden-phone" style="width:30px">价格</th>
									<th class="hidden-phone" style="width:150px">地址</th>
									<th class="hidden-phone" style="width:50px">购买日期</th>
									<th class="hidden-phone" style="width:30px">是否邮寄</th>
									
									<th class="hidden-phone" style="width:30px">操作人</th>
									<th class="hidden-phone" width="100">图片</th>
									<th class="hidden-phone">${i18nMap["admin.common.operation"]}</th>
								</tr>
							</thead>
							<tbody>
								<% for(buy in splitPage.list){ %>
								<tr class="odd gradeX">
									<td class="hidden-phone">${escapeXml(buy.ids!) }</td>
									<td class="hidden-phone">${escapeXml(buy.name!) }</td>
									<td class="hidden-phone">
												${escapeXml(buy.wechat!) }
									</td>
									<td class="hidden-phone">${escapeXml(buy.description!) }</td>
									<td class="hidden-phone">${escapeXml(buy.priceCN!) }</td>
									<td class="hidden-phone">${escapeXml(buy.address!) }</td>
									<td class="hidden-phone">${escapeXml(buy.purchaseDate!) }</td>
									<% if(buy.isSend != 1){ %>
										<td style="clear;background-color:#00FF7F;" bgcolor="red">${buy.isSend == 1 ? "是":"否"}</td>
									<% }else{ %>
										<td class="hidden-phone">${buy.isSend == 1 ? "是":"否"}</td>
									<% } %>
									<% if(buy.isPay == 0){ %>
										<td style="clear;background-color:#ffd966;" bgcolor="red">熊坚强</td>
									<% }else if(buy.isPay == 1){ %>
										<td class="hidden-phone">amy</td>
									<% }else if(buy.isPay == 3){ %>
										<td class="hidden-phone">air</td>
									<% }else if(buy.isPay == 5){ %>
										<td class="hidden-phone">飞儿</td>
									<% }else{ %>
										<td class="hidden-phone">乃坤</td>
									<% } %>
									<td class="hidden-phone">${ShowPic(buy.pic!)}</td>
									<td class="hidden-phone">
											<button type="button" class="btn btn-small btn-success" onclick="common_ajax.ajaxMainPanel('/workshop/buy/edit/${escapeXml(buy.ids!)}');">
												<i class="icon-edit icon-white"></i>
												${i18nMap["admin.common.edit"]}
											</button> 
											
											<button type="button" class="btn btn-small btn-info" onclick="common_ajax.ajaxMainPanel('/workshop/buy/view/${escapeXml(buy.ids!)}');">
												<i class="icon-refresh icon-white"></i>
												查看
											</button> 
											
										
											<button type="button" class="btn btn-small btn-warning" onclick="common_modals.deleteOne(this)" data-url="/workshop/buy/delete/${buy.ids!}-${customerIds!}?csrfToken=${csrfToken!}">
												<i class="icon-remove icon-white"></i>
												${i18nMap["admin.common.delete"]}
											</button> 
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>

						<div id="splitPageDiv" class="pagination">
							<% include("/platform/common/splitPage.html", {"divId" : "main-content", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){} %>
						</div>

					</div>
				</div>
				<!-- END EXAMPLE TABLE widget-->

			</div>
		</div>

		<!-- END ADVANCED TABLE widget-->
	</div>

</form>

<script type="text/javascript" src="${cxt!}/ui/metrolab/assets/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="${cxt!}/ui/layer/layer.js"/>

<script type="text/javascript">
	jQuery(document).ready(function() {
		$(".fancybox1").fancybox({
			'titleShow'     : true
  		});   
	});
	var updateList = function(button) {
		var table = $(button).attr("data-table");
		var url = $(button).attr("data-url");
		var category = $(button).attr("category");
		var ids = common_common.getCheckFunc(table);
		if(ids != ""){
			var data = {'ids' : ids,  "column" : category};
			common_ajax.ajaxMainPanel(url, data);
		}else{
			//"请选择操作数据！"
		}
	};
	
	var goList = function(button) {
		var url = $(button).attr("data-url");
		var category = $(button).attr("category");
		var ids = common_common.getCheckFunc(table);
		var data = {'ids' : ids,  "column" : category};
		common_ajax.ajaxFormMainPanel("splitPage");
	}
	  
	function exportFile(){
		$("#splitPage").submit();
	}
	
	  
	var copyRecord = function(button) {
		  var purchaseIds = $(button).attr("buy-id");
		  var index =layer.open({
			  type: 2,
			  area: ['700px', '530px'],
			  fixed: false, //不固定
			  maxmin: true,
			  content: '${cxt!}/workshop/buy/copy/'+purchaseIds
		  });
	  };
	  
</script>

