
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">

	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<ul class="breadcrumb">
				<li><a href="#">主页</a> <span class="divider">/</span></li>
				<li class="active">默认页面</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->

	<!-- BEGIN PAGE CONTENT-->
	<div class="row-fluid">

				
				<div class="row-fluid">
                    <div class="span12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-th-large"></i> 待处理内容 </h4>
                           <span class="tools">
                               <a href="javascript:;" class="icon-chevron-down"></a>
                               <a href="javascript:;" class="icon-remove"></a>
                           </span>
                            </div>
                            <div class="widget-body">
                                <!--BEGIN METRO STATES-->
                                <div class="metro-nav">
                                    <div class="metro-nav-block nav-block-orange">
                                        <a data-original-title="" href="#" onclick="common_ajax.ajaxMainPanel('/workshop/purchase/filterIndex?param=isPay');">
                                            <i class="icon-user"></i>
                                            <div class="info">${unPay!}</div>
                                            <div class="status">等待付款</div>
                                        </a>
                                    </div>
                                    <div class="metro-nav-block nav-block-blue">
                                        <a data-original-title="" href="#" onclick="common_ajax.ajaxMainPanel('/workshop/purchase/filterIndex?param=isBuy');">
                                            <i class="icon-tags"></i>
                                            <div class="info">${unBuy!}</div>
                                            <div class="status">等待购买</div>
                                        </a>
                                    </div>
                                    <div class="metro-nav-block nav-block-yellow">
                                        <a data-original-title="" href="#" onclick="common_ajax.ajaxMainPanel('/workshop/purchase/filterIndex?param=isSend');">
                                            <i class="icon-signout"></i>
                                            <div class="info">${unSend!}</div>
                                            <div class="status">等待邮寄</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!--END METRO STATES-->
                            </div>
                        </div>
                    </div>
			
            <div class="widget red">
                <!-- <img alt="捐助" src="${cxt!}/files/images/alipay.jpg" style="width: 300px;">
                <img alt="捐助" src="${cxt!}/files/images/wechat.jpg" style="width: 300px;"> -->
            </div>
            
		</div>

			
			
		</div>
		
	<!-- END PAGE CONTENT-->

</div>
<!-- END PAGE CONTAINER-->
