
<input type="hidden" name ="inventory.ids" value="${escapeXml(customerIds!)}" />

<div class="control-group">
	<label class="control-label">名称</label>
	<div class="controls">
		<input type="text" name="inventory.name" value="${escapeXml(inventory.name!)}" id="priceCN"
			class="span3" maxlength="25" vMin="0" vType="length"  >
		<span class="help-inline"></span>
	</div>
</div>


<div class="control-group">
	<label class="control-label">数量</label>
	<div class="controls">
		<input type="text" name="inventory.count" value="${escapeXml(inventory.count!)}" 
			class="span3" maxlength="25" size="25" vMin="0" vType="length"  id="priceUS">
		<span class="help-inline"></span>
	</div>
</div>


<div class="control-group">
	<label class="control-label">总数量</label>
	<div class="controls">
		<input type="text" name="inventory.count_all" value="${escapeXml(inventory.count_all!)}" 
			class="span3" maxlength="25" size="25" vMin="0" vType="length"  id="priceUS">
		<span class="help-inline"></span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">客户价格</label>
	<div class="controls">
		<input type="text" name="inventory.customer_price" value="${escapeXml(inventory.customer_price!)}" 
			class="span3" maxlength="25" size="25" vMin="0" vType="length"  id="priceUS">
		<span class="help-inline"></span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">代发价格</label>
	<div class="controls">
		<input type="text" name="inventory.daili_price" value="${escapeXml(inventory.daili_price!)}" 
			class="span3" maxlength="25" size="25" vMin="0" vType="length"  id="priceUS">
		<span class="help-inline"></span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">库存</label>
	<div class="controls">
			<select name="inventory.type">
				<option value ="1" ${inventory.type! == 1 ? "selected='selected'":"" }>美国库存</option>
				<option value ="2" ${inventory.type! == 2 ? "selected='selected'":"" }>中国库存</option>
				<option value ="3" ${inventory.type! == 3 ? "selected='selected'":"" }>在途</option>
			</select>
	</div>
</div>		
<div class="control-group">
	<label class="control-label">类别</label>
	<div class="controls">		
						<select name="inventory.category">			
							  <option value ="1" ${inventory.category! == 1 ? "selected='selected'":"" }>包</option>
							 
							  <option value ="2" ${inventory.category! == 2 ? "selected='selected'":"" }>化妆品</option>
							 
							  <option value ="3" ${inventory.category! == 3 ? "selected='selected'":"" }>保健品</option>
							  <option value ="4" ${inventory.category! == 4 ? "selected='selected'":"" }>饰品</option>
							  <option value ="5" ${inventory.category! == 5 ? "selected='selected'":"" }>手表</option>
							  <option value ="6" ${inventory.category! == 6 ? "selected='selected'":"" }>杂货</option>
							  <option value ="7" ${inventory.category! == 7 ? "selected='selected'":"" }>钱包</option>
							  <option value ="8" ${inventory.category! == 8 ? "selected='selected'":"" }>鞋</option>
							</select>

	</div>
</div>	



<div class="control-group">
							<label class="control-label">图片</label>
							<div class="controls hidden-phone">
								${ShowPic(inventory.pic!)}
							</div>
						</div>
                  <input type="hidden" name="inventory.pic" id="image" value="${escapeXml(inventory.pic!)}" readonly/>

                  
                 <div class="control-group" >
                 	  <label class="control-label">上传图片</label>
                 	  
                  		<div class="controls" >
                               <div class="ibox-content" >
                            <div id="uploader" class="wu-example">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder" >
                                        <div id="filePicker" ></div>
                                        <p>有三种方式添加图片：
                                        1.使用"点击选择图片按钮" 
                                        2.把图片拖到这个方框中 
                                        3.复制图片或者用截图软件截取图片，点击这个方框中粘贴(ctr+v)</p>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                    <div class="btns">
                                        <div id="filePicker2"></div>
                                        <div class="uploadBtn">开始上传</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
		</div>	

                 
        <script src="${cxt!}/jsfile/webuploader/webuploader.js"></script>

        <script src="${cxt!}/jsfile/webuploader/upload.js"></script>
        
        <script type="text/javascript">
	jQuery(document).ready(function() {
		
	});

</script>
        