<style>

/*demo css*/

.i_tips{height:30px;margin-left:20px;color:#f60;font-size:14px;line-height:30px}

.i_box{margin:10px 20px;font-size:14px;float:left}

.i_box *{vertical-align:middle}

.i_box a{padding:2px 5px;background-color:#e9e9e9;border:1px solid #ccc;text-decoration:none;color:#585858;line-height:20px}

.i_box a:hover{color:#000}

.i_box input{width:30px;height:18px;margin:0 8px;padding:2px;border:1px solid #ccc;text-align:center;line-height:16px}

</style>

<form id="splitPage" action="${cxt!}/workshop/inventory" method="POST" class="form-horizontal">

	<!-- BEGIN PAGE CONTAINER-->
	<div class="container-fluid">

		<!-- BEGIN PAGE HEADER-->
		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->
				<ul class="breadcrumb">
					<li>
						<a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">${i18nMap["admin.common.mainPage"]}</a>
						<span class="divider">/</span>
					</li>
					<li><a href="#">代购</a> <span class="divider">/</span></li>
					<li class="active">库存管理</li>
				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>
		<!-- END PAGE HEADER-->

		<div class="row-fluid">
			<div class="span12">
				<div class="widget yellow">
					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> ${i18nMap["admin.user.list.select"]}
						</h4>
						<span class="tools"> 
							<a class="icon-chevron-down" href="javascript:;"></a>
						</span>
					</div>
					<div class="widget-body form switch-form">
						名称
						<input class="medium" type="text" name="_query.name" value='${escapeXml(splitPage.queryParam["name"])}' maxlength="20">
						<select name="_query.type">
							  <option value ="">所有的</option>
							  <option value ="1" ${escapeXml(splitPage.queryParam["type"]) == "1" ? "selected='selected'":"" }>美国库存${escapeXml(splitPage.queryParam["type"])}</option>
							  <option value ="2" ${escapeXml(splitPage.queryParam["type"]) == "2" ? "selected='selected'":"" } >中国库存</option>
							</select>
							
							<select name="_query.category">
							  <option value ="">所有的</option>
							  <option value ="1" ${escapeXml(splitPage.queryParam["category"]) == "1" ? "selected='selected'":"" }>1包</option>
							  <option value ="2" ${escapeXml(splitPage.queryParam["category"]) == "2" ? "selected='selected'":"" }>2化妆品</option>
							  <option value ="3" ${escapeXml(splitPage.queryParam["category"]) == "3" ? "selected='selected'":"" }>3保健品</option>
							  <option value ="4" ${escapeXml(splitPage.queryParam["category"]) == "4" ? "selected='selected'":"" }>4饰品</option>
							  <option value ="5" ${escapeXml(splitPage.queryParam["category"]) == "5" ? "selected='selected'":"" }>5手表</option>
							  <option value ="6" ${escapeXml(splitPage.queryParam["category"]) == "6" ? "selected='selected'":"" }>6杂货</option>
							</select>
						<button type="button" class="btn btn-danger" onclick='common_ajax.ajaxFormMainPanel("splitPage");'>${i18nMap["admin.common.select"]}</button>
						<button type="reset" class="btn btn-inverse">${i18nMap["admin.common.reset"]}</button>
					</div>
				</div>
			</div>
		</div>

		<!-- BEGIN ADVANCED TABLE widget-->
		<div class="row-fluid">
			<div class="span12">

				<!-- BEGIN EXAMPLE TABLE widget-->
				<div class="widget red">

				

					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> ${i18nMap["admin.user.list.table"]}
						</h4>
					</div>

					<div class="widget-body">
						<span class="tools"> 
							<button type="button" class="btn btn-small btn-danger" onclick="common_ajax.ajaxMainPanel('/workshop/inventory/toUrl?toUrl=/workshop/inventory/add.html');">
								<i class="icon-plus icon-white"></i>
								添加货物
							</button> 
							
							<button type="button" class="btn btn-small btn-warning" data-table="dataTable" data-url="/workshop/inventory/delete?csrfToken=${csrfToken!}" onclick="common_modals.deleteList(this)">
								<i class="icon-remove icon-white"></i>
								删除货物
							</button> 
							
							
						</span>

                       	<div class="space15">
                       	</div>
                       
						<table class="table table-striped table-bordered" id="dataTable">
							<thead>
								<tr>
									<th style="width: 8px;">
										<input type="checkbox" class="group-checkable" name="checkAll" onchange="common_common.checkFunc('dataTable', this.checked);" class="flat-grey selectall">
									</th>
									<th class="hidden-phone" onclick="common_splitPage.orderbyFun('main-content', 'splitPage', 'ids')">
										id
										${orderBy("ids")}
									</th>
									<th class="hidden-phone" onclick="common_splitPage.orderbyFun('main-content', 'splitPage', 'name')">
										名称
										${orderBy("d.name")}</th>
									<th class="hidden-phone" >
										数量
									</th>
									<th class="hidden-phone" >
										客户价格 
									</th>
									<th class="hidden-phone" >
										代发价格 
									</th>
									<th class="hidden-phone" >
										库存地点 
									</th>
									<th class="hidden-phone" >
										类别 
									</th>
									<th class="hidden-phone" >
										图片 
									</th>
									<th class="hidden-phone">${i18nMap["admin.common.operation"]}</th>
								</tr>
							</thead>
							<tbody>
								<% for(inventory in splitPage.list){ %>
								<tr class="odd gradeX">
									<td>
										<input type="checkbox" class="checkboxes" name="checkIds" value="${user.ids!}" class="flat-grey foocheck">
									</td>
									<td class="hidden-phone">${escapeXml(inventory.ids!) }</td>
									<td class="hidden-phone">${escapeXml(inventory.name!) }</td>
									<td class="hidden-phone">
										<div class="i_box"><a href="javascript:;" class="J_minus">-</a><input type="text" value="${inventory.count}" ids="${escapeXml(inventory.ids!) }" class="J_input" /><a href="javascript:;" class="J_add">+</a></div>
									</td>
									<td class="hidden-phone">${inventory.customer_price!}</td>
									<td class="hidden-phone">${inventory.daili_price!}</td>
									<td class="hidden-phone">${inventory.type == 1 ? "美国":"中国"}</td>
									<td class="hidden-phone">${inventory.category}</td>
									<td class="hidden-phone">${ShowPic(inventory.pic!)}</td>
									<td class="hidden-phone">
										
											<button type="button" class="btn btn-small btn-success" onclick="common_ajax.ajaxMainPanel('/workshop/inventory/edit/${escapeXml(inventory.ids!)}');">
												<i class="icon-edit icon-white"></i>
												修改
											</button> 
										
										<button type="button" class="btn btn-small btn-warning" onclick="common_modals.deleteOne(this)" data-url="/workshop/inventory/delete/${escapeXml(inventory.ids!)}?csrfToken=${csrfToken!}">
											<i class="icon-refresh icon-white"></i>
											删除
										</button> 
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
						

						<div id="splitPageDiv" class="pagination">
							<% include("/platform/common/splitPage.html", {"divId" : "main-content", "formId" : "splitPage", "splitPageDiv" : "splitPageDiv"}){} %>
						</div>

					</div>
				</div>
				<!-- END EXAMPLE TABLE widget-->

			</div>
		</div>

		<!-- END ADVANCED TABLE widget-->
	</div>

</form>

<script type="text/javascript">
	jQuery(document).ready(function() {
		
	});
	
	function updateCount(count, ids){
		var url = "/workshop/inventory/updateCount?ids=" + ids + "&count=" + count;
		common_ajax.ajaxFunc(url);
	}
	
	
	$.fn.iVaryVal=function(iSet,CallBack){

		/*

		 * Minus:点击元素--减小

		 * Add:点击元素--增加

		 * Input:表单元素

		 * Min:表单的最小值，非负整数

		 * Max:表单的最大值，正整数

		 */

		iSet=$.extend({Minus:$('.J_minus'),Add:$('.J_add'),Input:$('.J_input'),Min:0,Max:100},iSet);

		var C=null,O=null;

		//插件返回值

		var $CB={};

		//增加

		iSet.Add.each(function(i){

			$(this).click(function(){
				O=parseInt(iSet.Input.eq(i).val());
				(O+1<=iSet.Max) || (iSet.Max==null) ? iSet.Input.eq(i).val(O+1) : iSet.Input.eq(i).val(iSet.Max);
				//输出当前改变后的值
				$CB.val=iSet.Input.eq(i).val();
				$CB.index=iSet.Input.eq(i).attr("ids");
				//回调函数
				if (typeof CallBack == 'function') {
				    CallBack($CB.val,$CB.index);
				 }
			});
		});

		//减少
		iSet.Minus.each(function(i){
			$(this).click(function(){
				O=parseInt(iSet.Input.eq(i).val());
				O-1<iSet.Min ? iSet.Input.eq(i).val(iSet.Min) : iSet.Input.eq(i).val(O-1);
				$CB.val=iSet.Input.eq(i).val();
				$CB.index=iSet.Input.eq(i).attr("ids");;
				//回调函数
				if (typeof CallBack == 'function') {
					CallBack($CB.val,$CB.index);
			    }
			});
		});

		//手动

		iSet.Input.bind({
			'click':function(){
				O=parseInt($(this).val());
				$(this).select();
			},
			'keyup':function(e){
				if($(this).val()!=''){
					C=parseInt($(this).val());
				//非负整数判断
				if(/^[1-9]\d*|0$/.test(C)){
					$(this).val(C);
					O=C;
				}else{
					$(this).val(O);
			}
		}

		//键盘控制：上右--加，下左--减
		if(e.keyCode==38 || e.keyCode==39){
			iSet.Add.eq(iSet.Input.index(this)).click();
		}
		if(e.keyCode==37 || e.keyCode==40){
			iSet.Minus.eq(iSet.Input.index(this)).click();
		}

		//输出当前改变后的值

		$CB.val=$(this).val();
		$CB.index=iSet.Input.index(this);

		//回调函数

		if (typeof CallBack == 'function') {
		                CallBack($CB.val,$CB.index);

		            }

		},

		'blur':function(){
			$(this).trigger('keyup');
				if($(this).val()==''){
				$(this).val(O);
		}

		//判断输入值是否超出最大最小值

		if(iSet.Max){
			if(O>iSet.Max){
			$(this).val(iSet.Max);
			}
		}

		if(O<iSet.Min){
			$(this).val(iSet.Min);
		}

		//输出当前改变后的值

		$CB.val=$(this).val();

		$CB.index=iSet.Input.index(this);

		//回调函数

		if (typeof CallBack == 'function') {

		                CallBack($CB.val,$CB.index);

		            }

		}

		});

		}

		//调用

		$( function() {

		$('.i_box').iVaryVal({},function(value,index){

			var url = "/workshop/inventory/updateCount?ids=" + index + "&count=" + value;
			common_ajax.ajaxFunc(url);

		});

		});

</script>
