
<form id="splitPage" action="${cxt!}/workshop/purchase" method="POST" class="form-horizontal">

	<!-- BEGIN PAGE CONTAINER-->
	<div class="container-fluid">

		<!-- BEGIN PAGE HEADER-->
		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->
				<ul class="breadcrumb">
					<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">${i18nMap["admin.common.mainPage"]}</a> <span class="divider">/</span></li>
				<li><a href="#">客户管理</a> <span class="divider">/</span></li>
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/workshop/customer/backOff');">客户列表</a> <span class="divider">/</span></li>
				<li class="active">购买记录</li>
				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>
		<!-- END PAGE HEADER-->

		

		<!-- BEGIN ADVANCED TABLE widget-->
		<div class="row-fluid">
			<div class="span12">

				<!-- BEGIN EXAMPLE TABLE widget-->
				<div class="widget red">


					<div class="widget-title">
						<h4>
							<i class="icon-reorder"></i> ${i18nMap["admin.role.list.table"]}
						</h4>
					</div>

					<div class="widget-body">
						<span class="tools"> 
							<button type="button" class="btn btn-small btn-danger" onclick="common_ajax.ajaxMainPanel('/workshop/purchase/toAdd/${customerIds!}');">
								<i class="icon-plus icon-white"></i>
								添加购买记录
							</button> 
							<button type="button" class="btn btn-small btn-info" category="isPay" data-table="dataTable" data-url="/workshop/purchase/updateMultiPay?csrfToken=${csrfToken!}" onclick="updateList(this)">
								<i class="icon-remove icon-white"></i>
								付款
							</button> 
							
							<button type="button" class="btn btn-small btn-info" category="isSend" data-table="dataTable" data-url="/workshop/purchase/updateMultiPay?csrfToken=${csrfToken!}" onclick="updateList(this)">
								<i class="icon-remove icon-white"></i>
								收到物品
							</button> 
							
							<button type="button" class="btn btn-small btn-info" category="isPayDeliverFee" data-table="dataTable" data-url="/workshop/purchase/updateMultiPay?csrfToken=${csrfToken!}" onclick="updateList(this)">
								<i class="icon-remove icon-white"></i>
								支付运费
							</button> 
							
							
								<span class="label label-important">待付款项${escapeXml(sum!) }</span>
								
								<span class="label label-success">${escapeXml(address!) }</span>
								
							
						</span>

                       	<div class="space15"></div>
                       
						<table class="table table-striped table-bordered" id="dataTable">
							<thead>
								<tr>
									<th style="width: 8px;">
										<input type="checkbox" class="group-checkable" name="checkAll" onchange="common_common.checkFunc('dataTable', this.checked);" class="flat-grey selectall">
									</th>
									<th class="hidden-phone">网址</th>
									<th class="hidden-phone">美元价格</th>
									<th class="hidden-phone">人民币价格</th>
									<th class="hidden-phone">描述</th>
									<th class="hidden-phone">购买日期</th>
									<th class="hidden-phone">是否付款</th>
									<th class="hidden-phone">是否收到</th>
									<th class="hidden-phone">快递费</th>
									<th class="hidden-phone">快递日期</th>
									<th class="hidden-phone">是否支付运费</th>
									<th class="hidden-phone">快递方式</th>
									<th class="hidden-phone">单号</th>
									<th class="hidden-phone">图片</th>
									<th class="hidden-phone">${i18nMap["admin.common.operation"]}</th>
								</tr>
							</thead>
							<tbody>
								<% for(purchase in list){ %>
								<tr class="odd gradeX">
									<td>
										<input type="checkbox" class="checkboxes" name="checkIds" value="${purchase.ids!}" class="flat-grey foocheck">
									</td>
									<td class="hidden-phone">
										<span class="label label-success">${escapeXml(purchase.website!) }</span>
									</td>
									<td class="hidden-phone">${escapeXml(purchase.priceUS!) }</td>
									<td class="hidden-phone">${escapeXml(purchase.priceCN!) }</td>
									<td class="hidden-phone">${escapeXml(purchase.description!) }</td>
									<td class="hidden-phone">${escapeXml(purchase.purchaseDate!) }</td>
									<% if(purchase.isPay != 1){ %>
										<td style="clear;background-color:#FF0000;" bgcolor="red">${purchase.isPay == 1 ? "是":"否"}</td>
									<% }else{ %>
										<td class="hidden-phone">${purchase.isPay == 1 ? "是":"否"}</td>
									<% } %>
									
									<% if(purchase.isSend != 1){ %>
										<td style="clear;background-color:#00FF7F;" bgcolor="red">${purchase.isSend == 1 ? "是":"否"}</td>
									<% }else{ %>
										<td class="hidden-phone">${purchase.isSend == 1 ? "是":"否"}</td>
									<% } %>
									
									<td class="hidden-phone">${escapeXml(purchase.deliverFee!) }</td>
									<td class="hidden-phone">${escapeXml(purchase.deliverDate!) }</td>
									<td class="hidden-phone">
									<% if(purchase.isPayDeliverFee == 0){ %>
										未支付
									<% }else if(purchase.isPayDeliverFee == 1){ %>
										支付
									<% }else{ %>
										包邮
									<% } %>
									</td>
									<td class="hidden-phone">${escapeXml(purchase.deliverMethod!) }</td>
									<td class="hidden-phone">${escapeXml(purchase.trackNum!) }</td>
									<td class="hidden-phone">${ShowPic(purchase.pic!)}</td>
									<td class="hidden-phone">
											<button type="button" class="btn btn-small btn-inverse" onclick="common_ajax.ajaxMainPanel('/workshop/purchase/edit/${escapeXml(purchase.ids!)}');">
												<i class="icon-refresh icon-white"></i>
												${i18nMap["admin.common.edit"]}
											</button> 
										
										
											<button type="button" class="btn btn-small btn-danger" onclick="common_modals.deleteOne(this)" data-url="/workshop/purchase/delete/${purchase.ids!}-${customerIds!}?csrfToken=${csrfToken!}">
												<i class="icon-remove icon-white"></i>
												${i18nMap["admin.common.delete"]}
											</button> 
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>


					</div>
				</div>
				<!-- END EXAMPLE TABLE widget-->

			</div>
		</div>

		<!-- END ADVANCED TABLE widget-->
	</div>

</form>
	<script type="text/javascript" src="${cxt!}/ui/metrolab/assets/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		$(".fancybox1").fancybox({
			'titleShow'     : true
  		});   

	});
	
	var updateList = function(button) {
		var table = $(button).attr("data-table");
		var url = $(button).attr("data-url");
		var category = $(button).attr("category");
		var ids = common_common.getCheckFunc(table);
		if(ids != ""){
			var data = {'ids' : ids, 'customerIds' : ${customerIds!}, "column" : category};
			common_ajax.ajaxMainPanel(url, data);
			
		}else{
			//"请选择操作数据！"
		}
	};
</script>

